header {
    width: 100%;
    height: 5rem;
    background-color: rgb(61, 59, 59)
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a{
    color:aliceblue;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover,
header nav a:active{
    color: rgb(248, 107, 107)
}