{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

    {% block page_title %}
        {{ res_text }}CHALLENGE
    {% endblock %}

    {% block content %}
        {% include "challenges/includes/header.html" %}

        <h1>{{ res_text }}This Is Month's Challenge</h1>
        {% if text is not None %}
            <h1>{{text}}</h1>
        {% else %}
            <p class="fallback">
                <h4>There is no Challenge for this month</h4>
            </p>
        {% endif %}
    {% endblock %}