@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
    background-color: #ccc
}