ul {
    list-style-type: none;
    margin: 2rem auto;
    width: 30%;
    max-width: 50rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0.26);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 35rem;
    background-color: #eeeeee;
}

li {
    margin: 1rem 0;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

li:last-of-type,
li:nth-of-type(6) {
    border-bottom: none;
}

li a{
    text-decoration: none;
    color:rgb(56, 55, 55)
}

li a:hover,
li a:active{
    color: rgb(231, 22, 22)
}